@import './bootstrap/bootstrap.min.css';
@import './device-mockups/device-mockups.min.css';

@import 'variables.scss';
@import 'mixins.scss';
@import 'global.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'download.scss';
@import 'features.scss';
@import 'cta.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'bootstrap-overrides.scss';

@import './fontawesome/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Muli');


